{% extends "base.html.twig" %}

{% block title %}Codes {{ code_title(type) }} {{ year }}{% endblock %}

{% block body %}

    <h4>{{ code_title(type) }} {{ year }}</h4>

    <form method="post">
        <div class="input-group">
            <input name="search" id="codeSearch" type="text" class="form-control" placeholder="Code" aria-label="Code Suche">
            <button type="submit" class="btn btn-primary">Suchen</button>
        </div>
    </form>

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Titel</th>
        </tr>
        </thead>
        <tbody>
        {% for element in data %}
            <tr>
                <td>{{ element.code }}</td>
                <td>{{ element.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}