{% extends "base.html.twig" %}

{% block title %}Umsteiger {{ code_title(type) }}{% endblock %}

{% block body %}

    <div class="umsteiger-page">
        <h4>{{ code_title(type) }} Umsteiger</h4>

        <div class="modal fade" id="edit-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for key, year in data %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if not loop.index0 %}active{% endif %}" id="tab-{{ key }}"
                            data-bs-toggle="tab" data-bs-target="#tab-pane-{{ key }}" type="button" role="tab"
                            aria-controls="tab-pane-{{ key }}" aria-selected="true">
                        {{ key }}</button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="myTabContent">
            {% for key, year in data %}
                <div class="tab-pane fade {% if not loop.index0 %}show active{% endif %}" id="tab-pane-{{ key }}"
                     role="tabpanel" aria-labelledby="tab-{{ key }}" tabindex="{{ loop.index0 }}">
                        <div class="rate-and-download" style="font-weight: bold">
                            <div class="rate">Umsteiger-Rate: {{ year.rate }}%</div>
                            <div>
                                <form action="/{{ type }}-conceptmap" method="post">
                                    <div class="input-group input-group-sm">
                                        <div class="download">ConceptMap</div>
                                        <input type="hidden" name="year" value="{{ key }}" />
                                        <input type="hidden" name="prev" value="{{ year.prev  }}" />
                                        <input type="hidden" name="single" value="true" />
                                        <select name="chronological" class="form-select" aria-label="{{ code_title(type) }} Ziel-Version Auswahl">
                                            <option value="false">{{ key }} → {{ year.prev }}</option>
                                            <option value="true">{{ year.prev }} → {{ key }}</option>
                                        </select>
                                        <select name="fhir" class="form-select fhir-release" aria-label="FHIR Release Auswahl">
                                            {% for version in fhir_versions %}
                                                <option value="{{ version }}">FHIR {{ version }}</option>
                                            {% endfor %}
                                        </select>
                                        <select name="file" class="form-select" aria-label="Dateityp Auswahl">
                                            <option value="json">JSON</option>
                                            <option value="xml">XML</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary">Generieren</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <table class="table table-sm table-striped umsteiger-table">
                            <thead>
                            <tr>
                                <th scope="col" class="code">{{ key }}</th>
                                <th scope="col" class="name">Titel</th>
                                <th scope="col" class="arrow">Auto
                                    <a href="" data-bs-toggle="modal" data-bs-target="#edit-modal"
                                       onclick="ajaxUmsteigerIcons('{{ key }}','{{ year.prev }}')">
                                        <sup><i class="bi bi-question-circle"></i></sup>
                                    </a>
                                </th>
                                <th scope="col" class="code">{{ year.prev }}</th>
                                <th scope="col" class="name">Titel</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for line in year.codes %}
                                <tr>
                                    <td>{{ code_external_link(type, key, line.new)|raw }}</td>
                                    <td>{{ line.new_name }}</td>
                                    {% if line.auto == '' and line.auto_r == '' %}
                                        <td class="arrow">
                                            <i class="bi bi-x-square-fill"></i>
                                        </td>
                                    {% elseif line.auto == '' %}
                                        <td class="arrow">
                                            <i class="bi bi-arrow-right-square-fill"></i>
                                        </td>
                                    {% elseif line.auto_r == '' %}
                                        <td class="arrow">
                                            <i class="bi bi-arrow-left-square-fill"></i>
                                        </td>
                                    {% else %}
                                        <td class="arrow">
                                            <i class="bi bi-dash-square-fill"></i>
                                        </td>
                                    {% endif %}
                                     <td>{{ code_external_link(type, year.prev, line.old)|raw }}</td>
                                    <td>{{ line.old_name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}