<div class="umsteiger-search-result">
    <div class="code-container">{{ code }}</div>
    <div class="name-container">{{ name }}</div>
    <div class="history-container">{{ view|raw }}</div>
</div>

{#{% extends "base.html.twig" %}#}

{#{% block title %}Test{% endblock %}#}

{#{% block body %}#}
{#    {% if data.umsteiger|length > 0 %}#}
{#    <div class="umsteiger-search">#}
{#        <div class="code-container">{{ data.umsteiger[0].new }}</div>#}
{#        <div class="name-container">{{ data.umsteiger[0].new_name }}</div>#}
{#        <div class="history-container">{{ view|raw }}</div>#}
{#    </div>#}
{#    {% endif %}#}
{#{% endblock %}#}