<div class="year">{{ data.year }}</div>
{% for entry in data.umsteiger %}
    <div class="history-results-container">
        <div class="result">
            {% if entry.old != constant('App\\Util\\Constants::UNDEF') %}
                <div class="umsteiger-codes">
                    {{ entry.new }}
                    {% if entry.auto == '' and entry.auto_r == '' %}
                        <i class="bi bi-x-square-fill"></i>
                    {% elseif entry.auto == '' %}
                        <i class="bi bi-arrow-right-square-fill"></i>
                    {% elseif entry.auto_r == '' %}
                        <i class="bi bi-arrow-left-square-fill"></i>
                    {% else %}
                        <i class="bi bi-dash-square-fill"></i>
                    {% endif %}
                    {{ entry.old }}
                </div>
                <div class="name-container">{{ entry.old_name }}</div>
            {% else %}
                <div>{{ entry.new }} hinzugefügt</div>
            {% endif %}
        </div>

        {% if entry.subsection is defined %}
            <div class="subsection">
                {{ entry.subsection|raw }}
            </div>
        {% endif %}
    </div>
{% endfor %}